<div class="control-section" id="reswrapper">
    <!-- sample level element  -->
    <!-- header-section  declaration -->
    <div class="nader">
        <ejs-toolbar id="resToolbar" (clicked)="toolbarCliked()">
            <e-items>
                <e-item>
                    <ng-template #template>
                        <nav>
                            <div class="wrapper">
                                <div class="e-folder">
                                    <div class="e-folder-name">GMAO</div>
                                </div>
                                <ul class="nav-links" routerLinkActive="active">
                                    <li><a href="/home" routerLink="home">accueil</a></li>
                                    <li><a href="/about" routerLink="about">à propos</a></li>
                                    <li><a href="/contact" routerLink="contact">contact</a></li>
                                    @if(isLoggedIn) {
                                    <li class="nav-item">
                                        <a href="" class="nav-link" [routerLink]="userLink">mon compte</a>
                                    </li>
                                    }@else {
                                    <li class="nav-item">
                                        <a href="/signup" class="nav-link" routerLink="signup">register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/signin" class="nav-link" routerLink="signin">se connecter</a>
                                    </li>
                                    }

                                </ul>
                            </div>
                        </nav>
                    </ng-template>
                </e-item>
            </e-items>
        </ejs-toolbar>
    </div>
    <!-- end of header-section -->
    @if(showSidebar) {
    <ejs-sidebar id="sideTree" class="sidebar-treeview" #sidebarTreeviewInstance [width]="width" [target]="target"
        [mediaQuery]="mediaQuery" [isOpen]="true">
        <div class='main-menu'>
            <div>
                <ejs-treeview id='mainTree' cssClass="main-treeview" [fields]="fields" expandOn='Click'
                    (nodeSelecting)="onNodeSelecting($event)">
                </ejs-treeview>
            </div>
        </div>
    </ejs-sidebar>
    }
    <!-- end of sidebar element -->
    <!-- .main-sidebar-content declaration -->
    <div class="main-sidebar-content" id="main-text">
        <div class="sidebar-content">
            <p class="paragraph-content">
                <router-outlet></router-outlet>
            </p>
        </div>
    </div>
</div>