<div class="intro-container">
    <h1 class="intro-title">Bienvenue sur GMAO - Fixation d'Équipements</h1>
    <p class="intro-description">
        Ce système de gestion de la maintenance assistée par ordinateur (GMAO) vous aide à gérer efficacement la
        fixation de vos équipements.
        Suivez, planifiez et optimisez vos interventions de maintenance pour garantir la disponibilité et le bon
        fonctionnement de vos équipements.
    </p>
    <a routerLink="/about" class="intro-button">En savoir plus</a>
</div>