<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="control-section" *ngIf="!showSpinner">
    <ejs-grid #grid [dataSource]='equipementsData' allowPaging='true' [pageSettings]='pageSettings'
        (actionBegin)="actionBegin($event)" [pageSettings]='pageSettings' [editSettings]='editSettings'
        [toolbar]='toolbar'>
        <e-columns>
            <e-column field='id' [visible]='false' headerText='ID' width='120' [allowEditing]="false" textAlign='Left'
                isPrimaryKey='true'></e-column>
            <e-column field='nom' textAlign='Left' headerText='Nom' width='120' [allowEditing]="true"
                [validationRules]='nomrules'></e-column>
            <e-column field='description' textAlign='Left' headerText='Description' width='120' format='C2'
                [allowEditing]="true" [validationRules]='descriptionrules'></e-column>
            <e-column field='numero_serie' textAlign='Left' headerText='Num serie' width='120' format='C2'
                [allowEditing]="true" [validationRules]='descriptionrules'></e-column>
            <e-column field='modele' textAlign='Left' headerText='Modele' width='120' format='C2' [allowEditing]="true"
                [validationRules]='descriptionrules'></e-column>
            <e-column field='marque' textAlign='Left' headerText='Marque' width='120' format='C2' [allowEditing]="true"
                [validationRules]='descriptionrules'></e-column>
            <e-column field='coleur' textAlign='Left' headerText='Coleur' width='120' format='C2' [allowEditing]="true"
                [validationRules]='descriptionrules'></e-column>
            <e-column headerText='Emplacement' width='130' textAlign='Center'>
                <ng-template #template let-data>
                    <span>{{data.emplacement?.nom}}</span>
                </ng-template>
                <ng-template #editTemplate let-data>
                    <ejs-dropdownlist #emplacement id="emplacement" [dataSource]='emplacementsData'
                        [(value)]="emplacementSelectedItem" [fields]="emplacementsFields" placeholder="Emplacement"
                        popupHeight='300px' floatLabelType='Always'>
                    </ejs-dropdownlist>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</div>