<div class="about-container">
    <img src="../../../assets/images/about2.jpg" alt="About GMAO" class="about-image">
    <div class="about-text">
      <h2 class="about-title">À propos de GMAO - Fixation d'Équipements</h2>
      <p class="about-description">
        Ce GMAO est une solution logicielle conçue pour vous aider à gérer et optimiser la fixation de vos équipements.
        Il vous permet de :
      </p>
      <ul class="about-features">
        <li>Suivre l'historique des interventions de fixation.</li>
        <li>Planifier et attribuer des interventions aux techniciens qualifiés.</li>
        <li>Gérer les stocks de pièces détachées nécessaires à la fixation.</li>
        <li>Analyser les données de maintenance pour identifier les points faibles et prendre des mesures préventives.</li>
        <li>Améliorer la disponibilité et la fiabilité de vos équipements.</li>
      </ul>
      <a routerLink="/contact" class="about-button">Nous contacter</a>
    </div>
  </div>
