  .about-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    height: 100vh;
    background-color: #9ACD32;
    color: #fff;
    font-family: 'fontello';
  }
  
  .about-image {
    width: 400px;
    object-fit: cover;
    margin-right: 20px;

  }
  
  .about-text {
    width: 50%;
  }
  
  .about-title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .about-description {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  
  .about-features {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .about-features li {
    margin-bottom: 10px;
  }
  
  .about-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .about-button:hover {
    background-color: #444;
  }
  
  @media (max-width: 768px) {
    .about-image {
      width: 100%;
      margin-right: 0;
    }
  
    .about-text {
      width: 100%;
    }
  }