<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="control-section" *ngIf="!showSpinner">
    <ejs-grid #grid [dataSource]='ordresDeTravailData' allowPaging='true' [pageSettings]='pageSettings'
        (actionBegin)="actionBegin($event)" [pageSettings]='pageSettings' [editSettings]='editSettings'
        [toolbar]='toolbar'>
        <e-columns>
            <e-column field='id' [visible]='false' headerText='ID' width='120' [allowEditing]="false" textAlign='Left'
                isPrimaryKey='true'></e-column>
            <e-column field='titre' headerText='Titre' width='120' textAlign='Right' isPrimaryKey='true'
                [validationRules]='namerules'></e-column>
            <e-column field='description' headerText='Description' width='120' format='C2' textAlign='Right'
                [validationRules]='descriptionrules'></e-column>
            <e-column headerText='Statut' width='130' textAlign='Center'>
                <ng-template #template let-data>
                    <span style="color: white; padding: 5px 10px; border-radius: 5px;"
                        [style.background-color]="getColorByUrgentAndStatut(data.statut)">{{data.statut}}</span>
                </ng-template>
            </e-column>
            <e-column headerText='Equipement' width='150' textAlign='Center'>
                <ng-template #template let-data>
                    <span>{{data.equipement?.nom}}</span>
                </ng-template>
            </e-column>
            <e-column headerText='Empalcement' width='150' textAlign='Center'>
                <ng-template #template let-data>
                    <span>{{data.emplacement?.nom}}</span>
                </ng-template>
            </e-column>
            <e-column headerText='Technicien' [visible]="false" width='130' textAlign='Center'>
                <ng-template #template let-data>
                    <span>{{data.user?.prenom}}</span>
                </ng-template>
                <ng-template #editTemplate let-data>
                    <ejs-dropdownlist #technicien id="technicien" [dataSource]="technicienData" placeholder="Technicien"
                        [(value)]="technicienSelectedItem" [fields]="technicienFields" popupHeight='300px'
                        floatLabelType='Always'></ejs-dropdownlist>
                </ng-template>
            </e-column>
            <e-column field="urgent" headerText='Urgent?' width='130' textAlign='Center' editType="booleanedit">
                <ng-template #template let-data>
                    <span style="color: white; padding: 5px 10px; border-radius: 5px;"
                        [style.background-color]="getColorByUrgentAndStatut(data.urgent)">{{data.urgent ? 'Oui' :
                        'Non'}}</span>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</div>