<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="control-section" *ngIf="!showSpinner">
    <ejs-grid #grid [dataSource]='ordresDeTravailData' allowPaging='true' [pageSettings]='pageSettings'
        (actionBegin)="actionBegin($event)" [pageSettings]='pageSettings' [editSettings]='editSettings'
        [toolbar]='toolbar'>
        <e-columns>
            <e-column field='id' [visible]='false' headerText='ID' width='120' [allowEditing]="false" textAlign='Left'
                isPrimaryKey='true'></e-column>
            <e-column headerText='Emplacement' isPrimaryKey='true' width='150' textAlign='Center'>
                <ng-template #template let-data>
                    <span>{{data.emplacement?.nom}}</span>
                </ng-template>
                <ng-template #editTemplate let-data>
                    <ejs-dropdownlist isPrimaryKey='true' #emplacement id="emplacement" placeholder="Emplacement"
                        [dataSource]='emplacementsData' [fields]="emplacementsFields"
                        [(value)]="emplacementSelectedItem" popupHeight='300px' floatLabelType='Always'
                        (change)="onEmplacementChange($event)"></ejs-dropdownlist>
                </ng-template>
            </e-column>
            <e-column headerText='Nom Equipement' isPrimaryKey='true' width='150' textAlign='Center'>
                <ng-template #template let-data>
                    <span>{{data.equipement?.nom}}</span>
                </ng-template>
                <ng-template #editTemplate let-data>
                    <ejs-dropdownlist #equipement id="equipement" [dataSource]='equipementsData'
                        placeholder="Nom Equipement" [fields]="equipementsFields" [(value)]="equipementSelectedItem"
                        popupHeight='300px' floatLabelType='Always'></ejs-dropdownlist>
                </ng-template>
            </e-column>
            <e-column field='titre' headerText='Titre' width='250' textAlign='Left' isPrimaryKey='true'
                [validationRules]='titrerules'></e-column>
            <e-column field='description' headerText='Description' width='300' format='C2' textAlign='Left'
                [validationRules]='descriptionrules'></e-column>
            <e-column headerText='Statut' width='130' textAlign='Center'>
                <ng-template #template let-data>
                    <span style="color: white; padding: 5px 10px; border-radius: 5px;"
                        [style.background-color]="getColorByUrgentAndStatut(data.statut)">{{data.statut}}</span>
                </ng-template>
            </e-column>
            <e-column headerText='Urgent?' width='130' textAlign='Center' editType="booleanedit">
                <ng-template #template let-data>
                    <span style="color: white; padding: 5px 10px; border-radius: 5px;"
                        [style.background-color]="getColorByUrgentAndStatut(data.urgent)">{{data.urgent ? 'Oui' :
                        'Non'}}</span>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</div>