<app-spinner *ngIf="showSpinner"></app-spinner>
<div class="control-section" *ngIf="!showSpinner">
    <ejs-grid #grid [dataSource]='affectationDesOrdresData' allowPaging='true' [pageSettings]='pageSettings'
        (actionBegin)="actionBegin($event)" [pageSettings]='pageSettings' [editSettings]='editSettings'
        [toolbar]='toolbar'>
        <e-columns>
            <e-column field='id' [visible]='false' headerText='ID' width='120' [allowEditing]="false" textAlign='Left'
                isPrimaryKey='true'></e-column>
            <e-column headerText='Titre' width='130' textAlign='Center'>
                <ng-template #template let-data>
                    <span>{{data.ordreTravail?.titre}}</span>
                </ng-template>
                <ng-template #editTemplate let-data>
                    <ejs-textbox [value]="data.ordreTravail?.titre" placeholder="Titre" #requeteCount></ejs-textbox>
                </ng-template>
            </e-column>
            <e-column headerText='Description' width='230' textAlign='Center'>
                <ng-template #template let-data>
                    <span>{{data.ordreTravail?.description}}</span>
                </ng-template>
                <ng-template #editTemplate let-data>
                    <ejs-textbox [value]="data.ordreTravail?.description" placeholder="Description"
                        #requeteCount></ejs-textbox>
                </ng-template>
            </e-column>
            <e-column headerText='Status' width='130' textAlign='Center'>
                <ng-template #template let-data>
                    <span style="color: white; padding: 5px 10px; border-radius: 5px;"
                        [style.background-color]="getColorByUrgentAndStatut(data.ordreTravail?.statut)">{{data.ordreTravail?.statut}}</span>
                </ng-template>
                <ng-template #editTemplate let-data>
                    <ejs-textbox [value]="data.ordreTravail?.statut" placeholder="Status" #requeteCount></ejs-textbox>
                </ng-template>
            </e-column>
            <e-column headerText='Urgent?' width='130' textAlign='Center'>
                <ng-template #template let-data>
                    <span style="color: white; padding: 5px 10px; border-radius: 5px;"
                        [style.background-color]="getColorByUrgentAndStatut(data.ordreTravail?.urgent)">{{data.ordreTravail?.urgent
                        ? 'Oui' : 'Non'}}</span>
                </ng-template>
            </e-column>
            <e-column headerText='Created At' width='175' textAlign='Center'>
                <ng-template #template let-data>
                    <span>{{data.created_at}}</span>
                </ng-template>
                <ng-template #editTemplate let-data>
                    <ejs-textbox [value]="data.created_at" placeholder="Created At" #requeteCount></ejs-textbox>
                </ng-template>
            </e-column>
            <e-column field="confirmer" width="130" headerText="Confirmed?" editType="booleanedit"
                [defaultValue]='true'></e-column>

            <e-column headerText='Confirmed At' width='180' textAlign='Center'>
                <ng-template #template let-data>
                    <span>{{data.date_confirmation}}</span>
                </ng-template>
                <ng-template #editTemplate let-data>
                    <ejs-textbox [value]="data.date_confirmation" placeholder="Confirmed At"
                        #requeteCount></ejs-textbox>
                </ng-template>
            </e-column>
            <e-column field="reparer" width="130" headerText="Fixed?" editType="booleanedit"
                [defaultValue]='true'></e-column>
            <e-column headerText='Fixed At' width='180' textAlign='Center'>
                <ng-template #template let-data>
                    <span>{{data.date_resolution}}</span>
                </ng-template>
                <ng-template #editTemplate let-data>
                    <ejs-textbox [value]="data.date_resolution" placeholder="Fixed At" #requeteCount></ejs-textbox>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</div>